<div class="main">
  <div>
    <div class="space">
      <app-modal [food]="foodToEdit" (foodUpdated)="updateFoodList($event)"></app-modal>
    </div>
    <mat-selection-list #food>
      <mat-list class="zero" *ngFor="let food of listFood">
        <td class="zero"> {{food.foodName}}
          <button matTooltip="Remore a item from the list" class="btn" type="submit" mat-raised-button color="warn"
            (click)="editFood(food)">EDIT</button>
          <mat-checkbox class="example-margin"></mat-checkbox>
        </td>
        <!--mat-list-option-->
      </mat-list>
      <mat-divider></mat-divider>
      <p>Items selected: {{food.selectedOptions.selected.length}}</p>
    </mat-selection-list>
  </div>
  <div>
    <button matTooltip="Add a new Item to the list" class="btn-register" type="submit" mat-raised-button color="primary"
      (click)="newFood()">Create</button>
  </div>
</div>