<div>
    <mat-card *ngIf="food">
        <p>Add a food:</p>
        <input type="text" [(ngModel)]="food.foodName" placeholder="Name the food" />
        <button class="btn-save" (click)="refresh()" (click)="updateFood(food)"  *ngIf="food.id">Save</button>
        <button class="btn-save" (click)="refresh()"  (click)="createFood(food)" *ngIf="!food.id">Create</button>
        <button class="btn-delete" (click)="refresh()"  (click)="deleteFood(food)" *ngIf="food.id">Delete</button>
    </mat-card>
</div>